fastapi==0.104.1
uvicorn[standard]==0.33.0

python-dotenv==1.0.1
pydantic[dotenv]==1.10.13
python-multipart==0.0.20
email-validator==2.3.0

SQLAlchemy==2.0.46
SQLAlchemy-serializer==1.4.1
alembic==1.14.1
psycopg2-binary==2.9.10

passlib[bcrypt]==1.7.4
bcrypt==4.2.0
python-jose==3.4.0
rsa==4.9.1
pyasn1==0.4.8

requests==2.32.4
anyio==3.7.1
starlette==0.27.0
sendgrid==6.11.0
